<%- include('layout/header') %> 
      <div class = "container">
        <div class="card text-left w-30">
          <div class="card-header text-center">
            <h5>List of Contacts</h5>
          </div>
          <% if (data.length < 1) { %>
            <p>Contact data is empty</p>
            <div class="card-header">
              <a href="/contact/add" class="btn btn-primary" role="button" aria-disabled="true">Add Contact</a>
            </div>
            <% } else {%>
          <div class="card-header">
            <a href="/contact/add" class="btn btn-primary" role="button" aria-disabled="true">Add Contact</a>
          </div>
          <div class="card-body">
            <table class="table table-success table-striped">
              <tr>
                <th>Full Name</th>
                <th>Mobile Phone Number</th>
                <th>Action</th>
              </tr>
              <% data.forEach(el => { %>
               
                <tr>
                  <td><%= el.name %> </td>
                  <td><%= el.number %> </td>
                  <td> 
                    <a href="/contact/<%= el.name %>/detail" class="btn btn-primary" role="button" aria-disabled="true">Detail</a>
                    <a href="/contact/<%= el.name %>/delete" class="btn btn-primary" role="button" aria-disabled="true">Delete</a>
                    <a href="/contact/<%= el.name %>/edit" class="btn btn-primary" role="button" aria-disabled="true">Edit</a>
                  </td>
              </tr>
              <% }) %>
      
          </table>
          </div>
        </div>
      <% } %>
      </div>

<%- include('layout/footer') %> 
